@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #131b30;
  font-family: "Roboto", monospace;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto Mono", monospace;
  overflow-x: hidden;
  color: #fafafa;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
:root {
  --text-area-width-768: 500px;
  --text-area-height: 350px;
  --text-area-width-320: 300px;
  --text-area-width: 650px;
  --inputs-wrapper-width: 700px;
}
